/* 主內容頁 */
 main{
    margin: 100px auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: flex-start;
}
/* 桌機圖片等高與寬 */

/* 上方主要內容區域 */
main .attraction-content{
    width: 100%;
    margin-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
/* 刪除按鈕 */
main .attraction-content .delete{
    position: absolute;
    right: 5%;
    cursor: pointer;
}

/* 圖片設定 */
main .attractionImge{
    width: 25%;
}
main .attractionImge img{
    width: 100%;
}
main .reservation-title{
    width: 100%;
    font-weight: 700;
    font-size: 19px;
    color: #666666;
    margin: 0 0 15px 0;
}
main .attractionTitle {
    font-weight: 700;
    font-size: 16px;
    color: #448899;
    margin: 0 0 10px 0;
}

main .attraction-book{  
    border-radius: 5px;
    padding: 0 20px 30px 20px;
}

main .attraction-book .book-content{
    display: flex;
    flex-direction: column;
}
main .attraction-book .book-content>div{
    width: 100%;
    margin: 5px auto;
    display: flex;
    justify-content: flex-start;
}
.book-title{
    margin: 0 10px 0 0;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}
.book-info{
    margin: 0 ;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

/* 下方區塊設定 */

main .attraction-reservation{
    width: 100%;
    margin-bottom: 40px;
    border-top: 1px solid #E8E8E8;;
}

/* Form設計 */
main .attraction-reservation .connect-form{
    margin: 0 0 50px 0;
}
main .attraction-reservation .reservation-form .connect-form>div,.payment-form>div{
    margin: 20px 0;
}
main .attraction-reservation .reservation-form .payment-form{
    border-top: 1px solid #E8E8E8;
}
main .attraction-reservation form label{
    height: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    margin-right: 5px;
}
main .attraction-reservation form input, .tpfield{
    width: 200px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    color: #757575;
    padding-left: 10px;
}
.payment-form .payment-div{
    display: flex;
    align-items: center;
}
/* Button */
.order-submitDiv{
    display: flex;
    flex-direction: column;
    float: right;
}
.order-submitDiv button{
    width: 173px;
    height: 36px;
    background: #448899;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
#curl{
    font-family: "Noto Sans TC", Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 400px;
    height: 100%;
}

/* 平板/手機畫面 */
@media (min-width: 601px) and (max-width: 1200px){
    main{
        width: 95%;
    }
    main .attractionImge{
        width: 270px;
    }
}

@media (min-width: 360px) and (max-width: 600px){
main{
    width: 95%;
}
/* 刪除按鈕 */
main .attraction-content .delete{
    position: absolute;
    bottom: -10%;
    right: 0;
}
main .attractionImge{
    width: 100%;
    margin-bottom: 30px;
}
main .attraction-book{
    padding: 0;
}
}