<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock %}</title>
    <link rel="stylesheet" href="./static/index.css" >
</head>
<body>
  <div class="div-loader">
  <div class="loader"></div>
  </div>
        <header >
          <div class="header-content">
          <div class="header-title"><a href="#">台北一日遊</a> </div>
          <div class="header-nav">
              <a href="#">預定行程</a>
              <a href="#">登入/註冊</a>
          </div>
        </div>
        </header>
        <div class="slogan">
          <div class="slogan-content">
              <div class="slogan-txt">
              <h1>輕鬆享受台北一日悠閒</h1>
              <p>探索每個角落，體驗城市的深度旅遊行程</p>
              </div>
              <div class="slogan-input">
                <div class="input-text">
                <input type="text" name="search" placeholder="請輸入景點名稱" class="search" autocomplete="off">
              </div>
              <button class="slogan-btn" type="submit">
                <img src="../static/icon/search.png" alt="">
              </button>
              </div>
            </div>
            <div class="slogan-img">
              <img src="static/icon/welcome.png" alt="">
            </div>
          
          
        </div>
        <main class="main">
          {%block main%}{% endblock %}
          <!-- <div class="main-content">
                <img class="attractionImg" src="https://picsum.photos/300/200/?random=10">
              <h1 class="attractionTitle">景點標題</h1>
              <div class="txt">
                  <p class="attractionTrans">交通</p>
                  <p class="attractionCate">景點類別</p>
                </div>
          </div>
          <div class="main-content">
              <img class="attractionImg" src="https://picsum.photos/300/200/?random=10">
            <h1 class="attractionTitle">景點標題</h1>
            <div class="txt">
                <p class="attractionTrans">交通</p>
                <p class="attractionCate">景點類別</p>
              </div>
        </div>
        <div class="main-content">
              <img class="attractionImg" src="https://picsum.photos/300/200/?random=10">
            <h1 class="attractionTitle">景點標題</h1>
            <div class="txt">
                <p class="attractionTrans">交通</p>
                <p class="attractionCate">景點類別</p>
              </div>
        </div>
        <div class="main-content">
              <img class="attractionImg" src="https://picsum.photos/300/200/?random=10">
            <h1 class="attractionTitle">景點標題</h1>
            <div class="txt">
                <p class="attractionTrans">交通</p>
                <p class="attractionCate">景點類別</p>
              </div>
        </div> -->
        </main>
        <footer class="footer">
          <p>COPYRIGHT @2022台北一日遊</p>
        </footer>
      <script src="static/index.js"></script>
</body>
</html>