<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock %}</title>
    {% block css%}{% endblock%}
    <link rel="stylesheet" href={{ url_for('static', filename='sign.css' ) }} >
    <link rel="stylesheet" href={{ url_for('static', filename='layout.css' ) }} >
</head>
<body>
  <div class="signin">
    <form action="#" class="form-container signin-form">
      <h3>登入會員帳號</h3>
      <div class="close closeSignin">
        <img src={{ url_for('static', filename='icon/close.png' ) }} alt="">
      </div>
    <input type="text" placeholder="輸入電子郵件" name="email" required>
    <input type="password" placeholder="輸入密碼" name="password" required>
    <button type="submit" class="form-btn">登入帳號</button>
    <div class="form-txt">
      <p>還沒有帳號？</p><a href="#" class="signin-a">點此註冊</a>
    </div>
    </form>
  </div>
  <div class="signup">
    <form action="#" class="form-container">
      <h3>註冊會員帳號</h3>
      <div class="close closeSignup">
        <img src= {{ url_for('static', filename='icon/close.png' ) }} alt="">
      </div>
    <input type="text" placeholder="輸入姓名" name="username" required>
    <input type="text" placeholder="輸入電子郵件" name="email" required>
    <input type="password" placeholder="輸入密碼" name="password" required>
    <button type="submit" class="form-btn">註冊新帳號</button>
    <div class="form-txt">
      <p>已經有帳戶？</p><a href="#" class="signup-a">點此登入</a>
    </div>
    </form>
  </div>
  <div class="div-loader">
  <div class="loader"></div>
  </div>
        <header >
          <div class="header-content">
          <div class="header-title"><a href="{{ url_for('index') }}">台北一日遊</a> </div>
          <div class="header-nav">
              <a href="#">預定行程</a>
              <a href="#" class="sign-link">登入/註冊</a>
          </div>
        </div>
        </header>
        
        
        {%block main%}

          {% endblock %}
       
 
        <footer class="footer">
          <p>COPYRIGHT @2022台北一日遊</p>
        </footer>
      {% block js%}{% endblock%}
      <script src={{ url_for('static', filename='sign.js' ) }}></script>
</body>
</html>