{% extends "base.html"%}
{%block title %} Booking {% endblock%}
{%block css%} <link rel="stylesheet" href= {{ url_for('static', filename='booking.css')}}>{% endblock%}
{%block main %}
<main class="main">
    <h3 class="reservation-title"></h3>
     <div class="attraction-content">  
        <div class="delete"><img src= {{ url_for('static', filename='icon/icon_delete.png')}} alt=""></div>
        <div class="attractionImge">
            <img id="attractionImge" src="">
            </div>
         <div class="attraction-book">
            <h3 class="attractionTitle"></h3>
           
            <div class="book-content">
                <div><p class="book-title">日期：</p><p class="book-info"></p></div>
                <div><p class="book-title">時間：</p><p class="book-info"></p></div>
                <div><p class="book-title">費用：</p><p class="book-info"></p></div>
                <div><p class="book-title">地點：</p><p class="book-info"></p></div>
            </div>
         </div>
     </div>
    <div class="attraction-reservation">
        <h3 class="reservation-title">您的聯絡資訊</h3>
        <form action="" class="reservation-form">
            <div class="connect-form">
            <div>
                <label>聯絡姓名：</label>
                <input type="text" placeholder="請輸入姓名" class="connection-form-name" autocomplete="new-password">
            </div>
            <div>
                <label>聯絡信箱：</label>
                <input type="email" placeholder="請輸入電子郵件" class="connection-form-email" autocomplete="new-password">
            </div>
            <div>
                <label>聯絡電話：</label>
                <input type="tel" id="phone" placeholder="請輸入手機09" maxlength="10" class="connection-form-phone" autocomplete="new-password">
            </div>
            <p class="book-title">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
            </div>
             <div class="payment-form">
                <h3 class="reservation-title">信用卡付款資訊</h3>
            <div class="payment-div">
                <label>卡片號碼：</label>
                <div  class="tpfield" id="card-number" >  </div>
            </div>
            <div class="payment-div">
                <label>過期時間：</label>
                <div  class="tpfield" id="card-expiration-date" > </div>
            </div>
            <div class="payment-div">
            <label>驗證密碼：</label>
                <div class="tpfield" id="card-ccv" ></div> 
            </div>
            <div class="order-submitDiv">
                <p class="order-price"></p>
                <button class="order-submit" >確認訂購並付款</button>
            </div>
            </div>
        </form>
        <pre class="jumbotron text-left" id="curl">
        </pre>
        </div>
     </div>
</main>
{% endblock%}
{% block js%} 
<script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
<script src={{ url_for('static', filename='booking.js')}}></script>
<script src={{ url_for('static', filename='order.js')}}></script>

{% endblock%}
